{% extends 'base.html' %}
{% block content%}
  <form action="." method="get">
    <input type="text" name="query">
    <input type="submit" name="find">
  </form>
  <h1>Мой блог</h1>
  {% for post in post_list %}
    <h3>{{ post.title }}</h3>
    <p>
      {{ post.create_date }}
    </p>
    <a href="{% url 'post_detail' post.id %}">Читать далее</a>
    <hr>
  {% endfor %}
{% endblock content%}
