{% extends 'base.html' %}
{% block content%}
  <h1>{{ post.title }}</h1>
  <p>{{ post.text }}</p>
  <i>{{ post.create_date }}</i>
  <br>
  <b><a href="{% url 'post_list' %}">Назад</a></b>
{% endblock content%}
